.CalendarDay__selected_span {
    background: #82e0aa; 
    color: white; 
    border: 1px solid #60B3DB;
  }
  

  .CalendarDay__selected {
    background: #60B3DB;
    color: white;
  }
  

  .CalendarDay__selected:hover {
    background: #60B3DB;
    color: white;
  }
  
  .CalendarDay__hovered_span:hover,
  .CalendarDay__hovered_span {
    background: rgba(94, 179, 219, 0.5);
  }

  .DateRangePickerInput_calendarIcon{
    padding: 0px;
    margin: 0px;
  }

  .DateRangePickerInput_calendarIcon_svg {
    height: 20px;
    width: 18px;
    color: #f2f2f2;
  }

  .DateRangePicker {
      width: 100%;
  }

  .DateInput {
      width: 40%;
  }

  .DateRangePickerInput {
      display: flex;
  }

  .DateRangePickerInput__showClearDates {
    width: 100%;
  }

  .DateRangePickerInput_arrow {
      display: flex;
      align-items: center;
      padding: 0 20px;
  }

  .DateInput_input {
    font-weight: 400;
    padding: 11px 0px 9px;
    text-align: center;
  }

  .DateInput_input__focused {
    font-weight: 400;
    border-bottom: 2px solid #FF6565;
}


 .dd-wrapper {
    user-select: none;
    position: relative;
    width: 30%;
    padding: 0 10px;
    max-width: 180px;
  }

  .dd-wrapper .dd-header
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 38px;
    /* border: 1px solid rgb(223, 223, 0); */
    border: none;
    border-radius: 3px;
    cursor: default;
    position: relative;
    background-color: rgba( 0, 0, 0, 0.05);
    color: rgba(163, 163, 163, 0.9);
  }

span
{
    margin-right: 20px;
}

.dd-wrapper .dd-header-title {
    font-weight: 300;
    margin: 2px 20px;
    margin-right: 30px;
  }

.angle-down {
    color: black;
    margin-right: 20px;
}

.dd-wrapper .dd-list {
    z-index: 10;
    position: absolute;
    width: 80%;
    border: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgba(240, 240, 240, 0.9);
    box-shadow: 0 2px 5px -1px rgba(232, 232, 232, 0.9);
    font-weight: 300;
    padding: 15px 0;
    max-height: 215px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}


.dd-list-item {
    width: 100%;
    font-size: 1.5rem;
    padding: 8px 10px;
    line-height: 1.6rem;
    cursor: default;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dd-wrapper .dd-list-item .selected {
    color: white;
    background-color: #FFD000;
}


.dd-wrapper .dd-list-item:hover {
    color: white;
    background-color: #FFD000;
} 
